{
  "swagger" : "2.0",
  "info" : {
    "version" : "v16.20.7",
    "title" : "EVVA AirKey Cloud API",
    "termsOfService" : "https://www.evva.com/en/airkey/impressum/",
    "contact" : {
      "name" : "Contact",
      "url" : "https://airkey.evva.com",
      "email" : "office-wien@evva.com"
    },
    "license" : {
      "name" : "Legal Notice",
      "url" : "https://www.evva.com/en/airkey/impressum/"
    }
  },
  "host" : "integration.api.airkey.evva.com:443",
  "basePath" : "/cloud",
  "tags" : [ {
    "name" : "areas"
  }, {
    "name" : "authorizations"
  }, {
    "name" : "blacklists"
  }, {
    "name" : "credits"
  }, {
    "name" : "customer"
  }, {
    "name" : "events"
  }, {
    "name" : "holiday-calendars"
  }, {
    "name" : "lock-protocol"
  }, {
    "name" : "locks"
  }, {
    "name" : "maintenance-tasks"
  }, {
    "name" : "media"
  }, {
    "name" : "medium-protocol"
  }, {
    "name" : "persons"
  }, {
    "name" : "public-mgmt"
  }, {
    "name" : "send-a-key"
  }, {
    "name" : "system-protocol"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/v1/areas" : {
      "get" : {
        "tags" : [ "areas" ],
        "summary" : "Gets all available areas.",
        "description" : "Returns a list of all available areas defined in the access control system, sorted by area id in ascending order.",
        "operationId" : "getAreas",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "lockId",
          "in" : "query",
          "description" : "Filter areas by lock id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset for paging",
          "required" : false,
          "type" : "integer",
          "minimum" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AreaPagingList"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid filter or paging parameters supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/areas/{areaId}" : {
      "get" : {
        "tags" : [ "areas" ],
        "summary" : "Gets a specific area.",
        "description" : "Returns a specific area defined in the access control system.",
        "operationId" : "getArea",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "areaId",
          "in" : "path",
          "description" : "Unique identifier of the area",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Area"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Area not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/authorizations" : {
      "get" : {
        "tags" : [ "authorizations" ],
        "summary" : "Gets all authorizations for locks and areas.",
        "description" : "Returns a list of all authorizations for locks and areas defined in the access control system, sorted by 'created on' timestamp in descending order.",
        "operationId" : "getAuthorizations",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset for paging",
          "required" : false,
          "type" : "integer",
          "minimum" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1
        }, {
          "name" : "lockId",
          "in" : "query",
          "description" : "Filter authorizations by lock id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "areaId",
          "in" : "query",
          "description" : "Filter authorizations by area id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "mediumId",
          "in" : "query",
          "description" : "Filter authorizations by medium id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "personId",
          "in" : "query",
          "description" : "Filter authorizations by person id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AuthorizationPagingList"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid filter or paging parameters supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "authorizations" ],
        "summary" : "Requests deletion of provided authorizations.",
        "description" : "Requests and marks provided authorizations for deletion and returns a list of the new authorization object versions.",
        "operationId" : "deleteAuthorization",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Authorizations to be deleted",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/AuthorizationDelete"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Authorization"
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Authorization to be deleted not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/authorizations/advanced" : {
      "post" : {
        "tags" : [ "authorizations" ],
        "summary" : "Creates new and updates existing authorizations (advanced version - can be used to create/update all types of authorizations).",
        "description" : "Creates the provided authorizations to be added in the access control system, updates the provided existing authorizations and returns a list of the new authorization object versions. <br/> The dates and timestamps for the authorizations should always be provided regardless of the time zone. <br/>Create authorization: Either lockId or areaId needs to be set for an authorization. It's not possible to set both IDs at the same time. <br/>Update authorization: It's not possible to change a lockId/areaId",
        "operationId" : "createOrUpdateAuthorizationsWithAdvancedOptions",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Authorizations to be created or updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AuthorizationChange"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Authorization"
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Authorization to be updated not found"
          },
          "409" : {
            "description" : "Authorization of medium for the provided lock/area already exists"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/authorizations/simple" : {
      "post" : {
        "tags" : [ "authorizations" ],
        "summary" : "Creates simple authorizations",
        "description" : "Creates an authorization of type 'SIMPLE' (same as using SimpleAuthorizationInfo in POST /authorizations/advanced). If an authorization can’t be created (e.g. already has 8 authorizations), an error will be returned. Be advised that this is only a simplified interface for fulfilling basic authorization needs, a 'SIMPLE' authorization will actually consist of up to 3 AuthorizationInfo elements combined (of type one-day and permanent) within an authorization -> authorization of type 'SIMPLE' will never be part of a response. <br/>The dates and timestamps for the authorizations should always be provided regardless of the time zone. <br/>Either lockId or areaId needs to be set for an authorization. It's not possible to set both IDs at the same time.",
        "operationId" : "createOrFetchSimpleAuthorization",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Authorization to be created",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SimpleAuthorizationCreate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Authorization"
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/authorizations/{authorizationId}" : {
      "get" : {
        "tags" : [ "authorizations" ],
        "summary" : "Gets a specific authorization.",
        "description" : "Returns a specific authorization for locks and areas defined in the access control system.",
        "operationId" : "getAuthorization",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "authorizationId",
          "in" : "path",
          "description" : "Unique identifier of the authorization",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Authorization"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Authorization not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/blacklists" : {
      "get" : {
        "tags" : [ "blacklists" ],
        "summary" : "Gets all available blacklist entries.",
        "description" : "Returns a list of all available blacklist entries defined in the access control system, sorted by lock id and medium id in ascending order.",
        "operationId" : "getBlacklists",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "lockId",
          "in" : "query",
          "description" : "Filter blacklist entries by lock id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "mediumId",
          "in" : "query",
          "description" : "Filter blacklist entries by medium id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/BlacklistEntry"
              }
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid filter parameters supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/credits" : {
      "get" : {
        "tags" : [ "credits" ],
        "summary" : "Gets available credit information.",
        "description" : "Returns information about available credits of customer.",
        "operationId" : "getCredits",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CreditInfo"
            }
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/customer" : {
      "get" : {
        "tags" : [ "customer" ],
        "summary" : "Gets customer details.",
        "description" : "Returns stored data of the customer.",
        "operationId" : "getCustomerData",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Customer"
            }
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/events" : {
      "get" : {
        "tags" : [ "events" ],
        "summary" : "Gets a list of events.",
        "description" : "Returns a list of events (only returns events that are max. 7 days old), sorted by event creation timestamp in descending order. Integration environment: 7 day restriction is not enforced, use '2019-04-28T00:00Z' as 'createdAfter' query parameter to get all events.",
        "operationId" : "getEvents",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Filter events that were created after this timestamp (ISO 8601-format compliant date with time in UTC, milliseconds precision: yyyy-mm-ddThh:mm:ss.SSSZ). Query parameter is required because clients are encouraged to make a choice what data is actually needed (e.g. when polling this resource with an interval of 10 minutes: (createdAfter = now - 10 minutes) retrieves events which were created in the last 10 minutes.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Filter events by event type",
          "required" : false,
          "type" : "string",
          "enum" : [ "UNLOCKING", "APP_PAIRED", "AUTHORIZATION_SYNCHRONIZED" ]
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset for paging",
          "required" : false,
          "type" : "integer",
          "minimum" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/EventPagingList"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid filter or paging parameters supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/events/{eventId}" : {
      "get" : {
        "tags" : [ "events" ],
        "summary" : "Gets a specific event.",
        "description" : "Returns information about a specific event.",
        "operationId" : "getEvent",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "eventId",
          "in" : "path",
          "description" : "Unique identifier of the event",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Event"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Event not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/holiday-calendars" : {
      "get" : {
        "tags" : [ "holiday-calendars" ],
        "summary" : "Gets all holiday calendars.",
        "description" : "Returns all available holiday calendars defined in the access control system, sorted by holiday calendar id in ascending order.",
        "operationId" : "getHolidayCalendars",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/HolidayCalendarList"
            }
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/holiday-calendars/{holidayCalendarId}" : {
      "get" : {
        "tags" : [ "holiday-calendars" ],
        "summary" : "Gets a specific holiday calendar.",
        "description" : "Returns information about a specific holiday calendar defined in the access control system.",
        "operationId" : "getHolidayCalendar",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "holidayCalendarId",
          "in" : "path",
          "description" : "Unique identifier of the holiday calendar",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/HolidayCalendar"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Holiday calendar not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "holiday-calendars" ],
        "summary" : "Updates the holiday calendar.",
        "description" : "Updates the provided holiday calendar and returns the new holiday calendar object version.",
        "operationId" : "updateHolidayCalendar",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "holidayCalendarId",
          "in" : "path",
          "description" : "Unique identifier of the holiday calendar to be updated",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Holiday calendar to be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/HolidayCalendar"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/HolidayCalendar"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., unknown attribute supplied, required attribute is missing)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Holiday calendar not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/holiday-calendars/{holidayCalendarId}/locks" : {
      "get" : {
        "tags" : [ "holiday-calendars" ],
        "summary" : "Gets all locks using the holiday calendar.",
        "description" : "Returns a list of all locks that are currently using the provided holiday calendar.",
        "operationId" : "getLocksByCalendarId",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "holidayCalendarId",
          "in" : "path",
          "description" : "Unique identifier of the holiday calendar",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset for paging",
          "required" : false,
          "type" : "integer",
          "minimum" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/LockPagingList"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Holiday calendar not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/holiday-calendars/{holidayCalendarId}/slots" : {
      "post" : {
        "tags" : [ "holiday-calendars" ],
        "summary" : "Adds a new holiday calendar slot to the holiday calendar.",
        "description" : "Creates and adds the holiday calendar slot to the provided holiday calendar and returns the updated holiday calendar object version. In case of a series definition in the given holiday calendar slot, more than one holiday calendar slots could be created. To retrieve the newly created slots from the returned calendar, they can be filtered based on given slot name.",
        "operationId" : "createHolidayCalendarSlot",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "holidayCalendarId",
          "in" : "path",
          "description" : "Unique identifier of the holiday calendar with which the holiday calendar slot should be associated",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Holiday calendar slot to be added",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/HolidayCalendarSlotCreate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/HolidayCalendar"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., unknown attribute supplied, required attribute is missing, length or unique constraint violated)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Holiday calendar not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/holiday-calendars/{holidayCalendarId}/slots/{holidayCalendarSlotId}" : {
      "get" : {
        "tags" : [ "holiday-calendars" ],
        "summary" : "Gets a specific holiday calendar slot.",
        "description" : "Returns information about a specific holiday calendar slot of the holiday calendar.",
        "operationId" : "getHolidayCalendarSlot",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "holidayCalendarId",
          "in" : "path",
          "description" : "Unique identifier of the holiday calendar with which the holiday calendar slot is associated",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "holidayCalendarSlotId",
          "in" : "path",
          "description" : "Unique identifier of the holiday calendar slot",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/HolidayCalendarSlot"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Holiday calendar slot not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "holiday-calendars" ],
        "summary" : "Updates a holiday calendar slot of the holiday calendar.",
        "description" : "Updates the provided holiday calendar slot and returns the new holiday calendar object version.",
        "operationId" : "updateHolidayCalendarSlot",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "holidayCalendarId",
          "in" : "path",
          "description" : "Unique identifier of the holiday calendar with which the holiday calendar slot is associated",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "holidayCalendarSlotId",
          "in" : "path",
          "description" : "Unique identifier of the holiday calendar slot to be updated",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Holiday calendar slot to be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/HolidayCalendarSlotUpdate"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/HolidayCalendar"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., unknown attribute supplied, required attribute is missing, length or unique constraint violated)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Holiday calendar or slot not found"
          },
          "409" : {
            "description" : "Conflict - holiday calendar slot has been changed"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "holiday-calendars" ],
        "summary" : "Deletes provided holiday calendar slot.",
        "description" : "Deletes the provided holiday calendar slot and returns the new holiday calendar object version.",
        "operationId" : "deleteHolidayCalendarSlot",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "holidayCalendarId",
          "in" : "path",
          "description" : "Unique identifier of the holiday calendar with which the holiday calendar slot is associated",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "holidayCalendarSlotId",
          "in" : "path",
          "description" : "Unique identifier of the holiday calendar slot to be deleted",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Holiday calendar slot to be deleted",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/HolidayCalendarSlotDelete"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/HolidayCalendar"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., unknown attribute supplied, wrong data type supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Holiday calendar or slot not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/lock-protocol" : {
      "get" : {
        "tags" : [ "lock-protocol" ],
        "summary" : "Gets protocol of locks.",
        "description" : "Returns a list of protocols of all locks in the access control system.",
        "operationId" : "getLockProtocol",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset for paging",
          "required" : false,
          "type" : "integer",
          "minimum" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1
        }, {
          "name" : "areaId",
          "in" : "query",
          "description" : "Filter protocols by area id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "lockId",
          "in" : "query",
          "description" : "Filter protocols by lock id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Timestamp from when the protocols need to be considered (ISO 8601-format compliant date with time in UTC, milliseconds precision)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Timestamp until when the protocols need to be considered (ISO 8601-format compliant date with time in UTC, milliseconds precision)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Language codes as a comma-separated list of IETF (bcp47) language tags (e.g. de-DE, en-UK) or \"all\" for all possible languages used for translations",
          "required" : false,
          "type" : "string",
          "default" : "de-DE",
          "enum" : [ "cs-CZ", "de-DE", "en-UK", "es-ES", "fr-FR", "it-IT", "nl-NL", "pl-PL", "pt-PT", "sk-SL", "sv-SE", "all" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/LockProtocolPagingList"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid filter or paging parameters supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/locks" : {
      "get" : {
        "tags" : [ "locks" ],
        "summary" : "Gets information of all locks.",
        "description" : "Returns a list of all locks with their information, sorted by lock id in ascending order. Maintenance tasks of a lock can be determined by using the maintenance-tasks resource (with lockId as query parameter for a single lock).",
        "operationId" : "getLocks",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset for paging",
          "required" : false,
          "type" : "integer",
          "minimum" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1
        }, {
          "name" : "calendarId",
          "in" : "query",
          "description" : "Filter locks by holiday calendar id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "lockingSystemId",
          "in" : "query",
          "description" : "Filter locks by technical identifier lockingSystemId",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/LockPagingList"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/locks/{lockId}" : {
      "get" : {
        "tags" : [ "locks" ],
        "summary" : "Gets information of a specific lock.",
        "description" : "Returns a specific lock with its information.",
        "operationId" : "getLock",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "lockId",
          "in" : "path",
          "description" : "Unique identifier of the lock",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Lock"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Lock not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "locks" ],
        "summary" : "Updates the provided lock.",
        "description" : "Updates the provided lock and returns the new version of the lock object.",
        "operationId" : "updateLock",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "lockId",
          "in" : "path",
          "description" : "Unique identifier of the lock",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Lock to be updated",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Lock"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Lock"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied, deserialization or validation errors)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Lock not found"
          },
          "409" : {
            "description" : "Lock updated by another client in the meantime"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/maintenance-tasks" : {
      "get" : {
        "tags" : [ "maintenance-tasks" ],
        "summary" : "Gets all maintenance tasks.",
        "description" : "Returns a list of all available maintenance tasks of the access control system, sorted by lockId in ascending order.",
        "operationId" : "getMaintenanceTasks",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "lockId",
          "in" : "query",
          "description" : "Filter maintenance tasks by lock id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "lockIdentifier",
          "in" : "query",
          "description" : "Filter maintenance tasks by lock identifier",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "doorName",
          "in" : "query",
          "description" : "Filter maintenance tasks by door name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset for paging",
          "required" : false,
          "type" : "integer",
          "minimum" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/MaintenanceTaskPagingList"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid filter or paging parameters supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media" : {
      "get" : {
        "tags" : [ "media" ],
        "summary" : "Gets information of all media.",
        "description" : "Returns a list of all media defined in the access control system, sorted by medium id in ascending order.",
        "operationId" : "getMedia",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "personId",
          "in" : "query",
          "description" : "Filter media by person id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "lockingSystemId",
          "in" : "query",
          "description" : "Filter media by technical identifier lockingSystemId",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "assignmentStatus",
          "in" : "query",
          "description" : "Filter media by assignment status",
          "required" : false,
          "type" : "string",
          "enum" : [ "ASSIGNED", "UNASSIGNED" ]
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset for paging",
          "required" : false,
          "type" : "integer",
          "minimum" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/MediumPagingList"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid filter or paging parameters supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/assign" : {
      "post" : {
        "tags" : [ "media" ],
        "summary" : "Assigns a person to a medium for each provided assignment.",
        "description" : "Creates a person assignment for a medium according to the provided list of assignments and returns the resulting assignment list.",
        "operationId" : "assignOwnerToMedium",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "List of medium assignments",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/MediumAssignment"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/MediumAssignment"
              }
            }
          },
          "400" : {
            "description" : "Bad request (syntactically wrong / semantically wrong / cannot be fulfilled for other reasons, e.g., other business rules like the medium still has authorizations)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Medium or person not found"
          },
          "409" : {
            "description" : "Medium already assigned"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/cancel-assignment" : {
      "post" : {
        "tags" : [ "media" ],
        "summary" : "Cancels assignments of media.",
        "description" : "Cancels the person assignments of the provided list of media and returns a list of identifiers of the updated medium objects.",
        "operationId" : "cancelMediumAssignments",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "List of unique medium identifiers",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "integer",
                "format" : "int64"
              }
            }
          },
          "400" : {
            "description" : "Bad request (syntactically wrong / semantically wrong / cannot be fulfilled for other reasons, e.g., other business rules like the medium still has authorizations)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Medium not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/cards" : {
      "get" : {
        "tags" : [ "media" ],
        "summary" : "Gets information of all cards.",
        "description" : "Returns a list of all media of type 'card' defined in the access control system.",
        "operationId" : "getCards",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "personId",
          "in" : "query",
          "description" : "Filter cards by person id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "lockingSystemId",
          "in" : "query",
          "description" : "Filter cards by technical identifier lockingSystemId",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "assignmentStatus",
          "in" : "query",
          "description" : "Filter cards by assignment status",
          "required" : false,
          "type" : "string",
          "enum" : [ "ASSIGNED", "UNASSIGNED" ]
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset for paging",
          "required" : false,
          "type" : "integer",
          "minimum" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CardPagingList"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid filter or paging parameters supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "media" ],
        "summary" : "Updates list of cards.",
        "description" : "Updates the provided list of cards and returns a list of new object versions.",
        "operationId" : "updateCards",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "List of cards to be updated",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Card"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Card"
              }
            }
          },
          "400" : {
            "description" : "Bad request (e.g., unknown attribute supplied, required attribute is missing, length or unique constraint violated)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Card not found"
          },
          "409" : {
            "description" : "Conflict - medium has been changed"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/cards/{cardId}" : {
      "get" : {
        "tags" : [ "media" ],
        "summary" : "Gets information of specific card.",
        "description" : "Returns all information of provided medium of type 'card'.",
        "operationId" : "getCard",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "Unique identifier of the card",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Card"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Medium not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/phones" : {
      "get" : {
        "tags" : [ "media" ],
        "summary" : "Gets information of all phones.",
        "description" : "Returns a list of all media of type 'phone' defined in the access control system.",
        "operationId" : "getPhones",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "personId",
          "in" : "query",
          "description" : "Filter phones by person id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "lockingSystemId",
          "in" : "query",
          "description" : "Filter phones by technical identifier lockingSystemId",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "assignmentStatus",
          "in" : "query",
          "description" : "Filter phones by assignment status",
          "required" : false,
          "type" : "string",
          "enum" : [ "ASSIGNED", "UNASSIGNED" ]
        }, {
          "name" : "phoneNumber",
          "in" : "query",
          "description" : "Filter phones by phone number",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset for paging",
          "required" : false,
          "type" : "integer",
          "minimum" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PhonePagingList"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid filter or paging parameters supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "media" ],
        "summary" : "Adds list of new phones.",
        "description" : "Creates and adds the provided phones to the access control system and returns a list of the new phone objects. Please check before if a phone already exists with the given phone number to prevent duplicates.",
        "operationId" : "createPhones",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "List of phones to be added",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/PhoneCreate"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Phone"
              }
            }
          },
          "400" : {
            "description" : "Bad request (e.g., unknown attribute supplied, required attribute is missing, length or unique constraint violated)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "409" : {
            "description" : "Phone already exists"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "media" ],
        "summary" : "Updates list of phones.",
        "description" : "Updates the provided list of phones and returns a list of new object versions. Please check before if a phone already exists with the given phone number to prevent duplicates.",
        "operationId" : "updatePhones",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "List of phones to be updated",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Phone"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Phone"
              }
            }
          },
          "400" : {
            "description" : "Bad request (e.g., unknown attribute supplied, required attribute is missing, length or unique constraint violated)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Phone not found"
          },
          "409" : {
            "description" : "Conflict - medium has been changed"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "media" ],
        "summary" : "Deletes provided phones.",
        "description" : "Deletes the provided phones and returns a list of identifiers of all deleted objects.",
        "operationId" : "deletePhones",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "List of unique identifiers of all phones to be deleted",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "integer",
                "format" : "int64"
              }
            }
          },
          "400" : {
            "description" : "Bad request (e.g. wrong data type supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Phone not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/phones/{phoneId}" : {
      "get" : {
        "tags" : [ "media" ],
        "summary" : "Gets information of specific phone.",
        "description" : "Returns all information of provided medium of type 'phone'.",
        "operationId" : "getPhone",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "phoneId",
          "in" : "path",
          "description" : "Unique identifier of the phone",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Phone"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Medium not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/phones/{phoneId}/pairing" : {
      "post" : {
        "tags" : [ "media" ],
        "summary" : "Generates a new pairing code for a phone.",
        "description" : "Generates a new pairing code for the provided phone and returns a new version of the phone object.",
        "operationId" : "generatePairingCodeForPhone",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "phoneId",
          "in" : "path",
          "description" : "Unique identifier of the phone",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Phone"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Phone not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/phones/{phoneId}/pin-reset" : {
      "post" : {
        "tags" : [ "media" ],
        "summary" : "Resets PIN of the phone.",
        "description" : "Resets the PIN of the provided phone and returns new version of the phone object with set PIN reset time. After the phone was synchronized the PIN flag is reset.",
        "operationId" : "resetPinOfPhone",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "phoneId",
          "in" : "path",
          "description" : "Unique identifier of the phone to reset the PIN",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Phone"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Phone not found"
          },
          "409" : {
            "description" : "No PIN set for phone"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/phones/{phoneId}/send-registration-code" : {
      "post" : {
        "tags" : [ "media" ],
        "summary" : "Sends pairing code to phone.",
        "description" : "Sends a generated pairing code per SMS to the phone and returns a new version of the phone object.",
        "operationId" : "sendRegistrationCodeToPhone_1",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "phoneId",
          "in" : "path",
          "description" : "Unique identifier of the phone",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Phone"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Phone not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/phones/{phoneId}/send-registration-code-with-parameters" : {
      "post" : {
        "tags" : [ "media" ],
        "summary" : "Sends pairing code to phone while the SMS text to be sent can be configured.",
        "description" : "Sends a generated pairing code per SMS to the phone and returns a new version of the phone object.",
        "operationId" : "sendRegistrationCodeToPhone",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "phoneId",
          "in" : "path",
          "description" : "Unique identifier of the phone",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Send registration code request wrapper",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/SendRegistrationCodeRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Phone"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Phone not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/{mediumId}" : {
      "get" : {
        "tags" : [ "media" ],
        "summary" : "Gets information of a specific medium.",
        "description" : "Returns all information of a specific medium defined in the access control system.",
        "operationId" : "getMedium",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "mediumId",
          "in" : "path",
          "description" : "Unique identifier of the medium",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Medium"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Medium not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/{mediumId}/deactivate" : {
      "post" : {
        "tags" : [ "media" ],
        "summary" : "Deactivates provided medium.",
        "description" : "Deactivates the provided medium and returns a new version of the medium object. The fields \"reason\" and \"comment\" are saved in the system protocol and are not part of the response.",
        "operationId" : "deactivateMedium",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "mediumId",
          "in" : "path",
          "description" : "Unique identifier of the medium to be deactivated",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "reason",
          "in" : "query",
          "description" : "Reason of deactivation (user defined input that can be used to describe the reasons for deactivating a medium, e.g. has been lost / was stolen / is broken)",
          "required" : true,
          "type" : "string",
          "maxLength" : 50,
          "minLength" : 1
        }, {
          "name" : "comment",
          "in" : "query",
          "description" : "Additional comment of deactivation (user defined input that can be used to add further details regarding the reason for deactivating a medium, e.g. when all details won't fit within the reason field)",
          "required" : false,
          "type" : "string",
          "maxLength" : 500,
          "minLength" : 0
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Medium"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Medium not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/{mediumId}/empty" : {
      "post" : {
        "tags" : [ "media" ],
        "summary" : "Empties provided medium.",
        "description" : "Empties the provided medium and returns a new version of the medium object. All authorizations will be deleted from the medium. The person assignment of the medium does not get cancelled.",
        "operationId" : "emptyMedium",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "mediumId",
          "in" : "path",
          "description" : "Unique identifier of the medium",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Medium"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Medium not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/media/{mediumId}/reactivate" : {
      "post" : {
        "tags" : [ "media" ],
        "summary" : "Reactivates provided medium.",
        "description" : "Reactivates the provided medium and returns a new version of the medium object. The fields \"reason\" and \"comment\" are saved in the system protocol and are not part of the response.",
        "operationId" : "reactivateMedium",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "mediumId",
          "in" : "path",
          "description" : "Unique identifier of the medium to be reactivated",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "reason",
          "in" : "query",
          "description" : "Reason of reactivation (user defined input that can be used to describe the reasons for reactivating a medium, e.g. a medium has been found again)",
          "required" : true,
          "type" : "string",
          "maxLength" : 50,
          "minLength" : 1
        }, {
          "name" : "comment",
          "in" : "query",
          "description" : "Additional comment of reactivation (user defined input that can be used to add further details regarding the reason for reactivating a medium, e.g. when all details won't fit within the reason field)",
          "required" : false,
          "type" : "string",
          "maxLength" : 500,
          "minLength" : 0
        }, {
          "name" : "recoverAuthorizations",
          "in" : "query",
          "description" : "Recover authorizations available prior to deactivation",
          "required" : true,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Medium"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Medium not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/medium-protocol" : {
      "get" : {
        "tags" : [ "medium-protocol" ],
        "summary" : "Gets protocol of media.",
        "description" : "Returns a list of protocol of media in the access control system.",
        "operationId" : "getMediumProtocol",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset for paging",
          "required" : false,
          "type" : "integer",
          "minimum" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "Timestamp from when the protocols need to be considered (ISO 8601-format compliant date with time in UTC, milliseconds precision)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "Timestamp until when the protocol need to be considered (ISO 8601-format compliant date with time in UTC, milliseconds precision)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mediumId",
          "in" : "query",
          "description" : "Filter authorizations by medium id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Language codes as a comma-separated list of IETF (bcp47) language tags (e.g. de-DE, en-UK) or \"all\" for all possible languages used for translations",
          "required" : false,
          "type" : "string",
          "default" : "de-DE",
          "enum" : [ "cs-CZ", "de-DE", "en-UK", "es-ES", "fr-FR", "it-IT", "nl-NL", "pl-PL", "pt-PT", "sk-SL", "sv-SE", "all" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/LockProtocolPagingList"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid filter or paging parameters supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/persons" : {
      "get" : {
        "tags" : [ "persons" ],
        "summary" : "Gets all persons.",
        "description" : "Returns a list of all persons defined in the access control system, sorted by person id in ascending order.",
        "operationId" : "getPersons",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset for paging",
          "required" : false,
          "type" : "integer",
          "minimum" : 0
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of result size",
          "required" : false,
          "type" : "integer",
          "minimum" : 1
        }, {
          "name" : "firstName",
          "in" : "query",
          "description" : "Filter persons by first name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "lastName",
          "in" : "query",
          "description" : "Filter persons by last name",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "secondaryIdentification",
          "in" : "query",
          "description" : "Filter persons by secondary identification",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "search",
          "in" : "query",
          "description" : "Filter persons by matches in: first name, last name, secondary identification, email address, comment, street, city, country",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PersonPagingList"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid filter or paging parameters supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "persons" ],
        "summary" : "Adds list of new persons.",
        "description" : "Creates and adds the provided persons to the access control system and returns a list of the new person objects.",
        "operationId" : "createPersons",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "List of persons to be added",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/PersonCreate"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Person"
              }
            }
          },
          "400" : {
            "description" : "Bad request (e.g., unknown attribute supplied, required attribute is missing, length or unique constraint violated)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "persons" ],
        "summary" : "Updates list of persons.",
        "description" : "Updates the provided list of persons and returns a list of new object versions.",
        "operationId" : "updatePersons",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "List of persons to be updated",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Person"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Person"
              }
            }
          },
          "400" : {
            "description" : "Bad request (e.g., unknown attribute supplied, required attribute is missing, length or unique constraint violated)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Person not found"
          },
          "409" : {
            "description" : "Conflict - person has been changed"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "persons" ],
        "summary" : "Deletes provided persons.",
        "description" : "Deletes the provided persons and returns a list of identifiers of all deleted objects.",
        "operationId" : "deletePersons",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "List of unique identifiers of all persons to be deleted",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "integer",
                "format" : "int64"
              }
            }
          },
          "400" : {
            "description" : "Bad request (e.g., wrong data type supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Person not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/persons/{personId}" : {
      "get" : {
        "tags" : [ "persons" ],
        "summary" : "Gets a specific person.",
        "description" : "Returns a specific person defined in the access control system.",
        "operationId" : "getPerson",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "personId",
          "in" : "path",
          "description" : "Unique identifier of the person",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Person"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., invalid ID supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Person not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/public-mgmt/reset-test-data" : {
      "post" : {
        "tags" : [ "public-mgmt" ],
        "summary" : "Resets test data in the integration environment.",
        "description" : "Resets the test data for the customer generated in the integration environment.",
        "operationId" : "resetTestData",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "204" : {
            "description" : "successful operation"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
          "404" : {
            "description" : "Customer data not found"
          },
          "429" : {
            "description" : "Too many requests - daily request limit exceeded"
          },
          "500" : {
            "description" : "Internal server error"
          },
          "503" : {
            "description" : "Service unavailable"
          }
        },
        "security" : [ {
          "X-API-Key" : [ ]
        } ]
      }
    },
    "/v1/send-a-key" : {
      "post" : {
        "tags" : [ "send-a-key" ],
        "summary" : "Sends a registration code to the phone and creates all necessary prerequisites if needed.",
        "description" : "Based on the given phone number this request sends a registration link via SMS for easy installation of the AirKey app. It simplifies the task of creating new mobile app users by implicitly creating new persons, phones and authorizations of type 'SIMPLE' if needed, i.e. it reuses an existing person if found. Please check before if a phone already exists with the given phone number to prevent duplicates (GET /media/phones using the filter phoneNumber). The reason why duplicates are allowed is to be able to create a new phone with an already existing phone number so it is not mandatory to delete an old phone before creating the new phone with the same phone number. <br/>Authorization creation mirrors the behaviour of POST /authorizations/simple. If you need more control consider creating a phone and person with this call and using the advanced authorization interface for creating authorizations. <br/>Either lockId or areaId needs to be set for an authorization. It's not possible to set both IDs at the same time.",
        "operationId" : "sendAKey",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Send-A-Key request wrapper",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SendAKeyRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/SendAKeyResponse"
            }
          },
          "400" : {
            "description" : "Bad request (e.g., wrong data type supplied)"
          },
          "401" : {
            "description" : "Unauthorized (e.g., API key not found, not allowed due to IP whitelist)"
          },
[...]
