# coding: utf-8

"""
    EVVA AirKey Cloud API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v16.20.7
    Contact: office-wien@evva.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from airkey.api_client import ApiClient


class BlacklistsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_blacklists(self, **kwargs):  # noqa: E501
        """Gets all available blacklist entries.  # noqa: E501

        Returns a list of all available blacklist entries defined in the access control system, sorted by lock id and medium id in ascending order.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_blacklists(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int lock_id: Filter blacklist entries by lock id
        :param int medium_id: Filter blacklist entries by medium id
        :return: list[BlacklistEntry]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_blacklists_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_blacklists_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_blacklists_with_http_info(self, **kwargs):  # noqa: E501
        """Gets all available blacklist entries.  # noqa: E501

        Returns a list of all available blacklist entries defined in the access control system, sorted by lock id and medium id in ascending order.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_blacklists_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int lock_id: Filter blacklist entries by lock id
        :param int medium_id: Filter blacklist entries by medium id
        :return: list[BlacklistEntry]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['lock_id', 'medium_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_blacklists" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'lock_id' in params:
            query_params.append(('lockId', params['lock_id']))  # noqa: E501
        if 'medium_id' in params:
            query_params.append(('mediumId', params['medium_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['X-API-Key']  # noqa: E501

        return self.api_client.call_api(
            '/v1/blacklists', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[BlacklistEntry]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
